@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }
 body{
     width: 100%;
     height: 100vh;
     /* display: flex; */
     justify-content: center;
     align-items: center;
     background-color: #034560;

 }
 #container_box {
    width: 80%;
    margin: auto;
    border: 1px solid #284174;
    padding: 20px;
    border-radius: 16px;
    background: rgb(27, 29, 49);
    box-shadow: 0px 5px 15px rgba(64, 10, 114, 0.683);
    max-height: 95vh; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds the maximum height */
}


 #container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
     width: 420px;
     /* border: none; */
     padding: 24px;
     margin: 20px;
     border-radius: 0.5em;
     transition: all 0.1s ease-out;
     background: white;
     box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
     font-size: 20px;
     text-align: center;
     cursor: pointer;
     color: #000000;
 }
 input::placeholder{
     color: #988282;
     font-size: 20px;
     opacity: 0.5;
     
 }
 button{
     border: none;
     width: 110px;
     height: 65px;
     margin: 10px;
     border-radius: 25%;
     background: rgba(7, 142, 79, 0.541) ;
     color: #f7fafb;
     font-size: 20px;
     box-shadow: -3px -3px 10px rgba(127, 137, 178, 0.242);
     cursor: pointer;
 }
 nav{
    position: fixed;
    background-color: #e79f24f2;;

 }
.input-field {
    width: 40%;
    margin: 6px 3px;
}

.result {
    margin-left: 10px;
    color :white;

}
label{
    color: white;
}